* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;

}

.image-block {
    display: flex;
    flex-direction: column;
    width: 33%;
    flex: 1;
    position: relative;
    justify-content: space-between;
}


.image-block>p {
    text-align: center;
    position: absolute;
    color: white;
    bottom: 5px;
    left: 5px;

}

.logo {
    display: flex;
    position: absolute;
    top: 30%;
    justify-content: center;
    height: 20%;
    background-color: black;
    opacity: 40%;
    width: 100%;
    container-type: inline-size;
}

.logo>image,
.logo>p {
    color: white;
}

.logo>p {}

section {
    flex: 2;
}