* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    height: 100vw;

}

.image-block {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100vh;
    flex: 1;
    position: relative;
    justify-content: space-between;
}

.image-block>img {
    height: 100%;
    width: auto;
}

.bottom-line {
    color: white;
    position: absolute;
    left: 28%;
    right: 20%;
    bottom: 5px;
    font-size: smaller;
}

a {
    color: inherit;
}


.logo {
    display: flex;
    position: absolute;
    top: 30%;
    justify-content: center;
    height: 20%;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    container-type: inline-size;
}

.logo>image,
.logo>p {
    color: white;
}

@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.woff);
}

.logo>p {
    display: flex;
    font-family: Norse-Bold;
    font-size: 10vh;
    align-items: center;
}

section {
    flex: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    gap: 25px;
    justify-content: center;
    padding-right: 17%;
}

button {
    background-color: #596D48;
    color: white;
}

h2 span {
    font-style: italic;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

input {
    border-radius: 5px;
    border: 3px #E5E7EB solid;
    padding: 8px;
}

input:focus {
    box-shadow: 10px 10px 5px darkgrey;
}

.invalid {
    border: 2px solid red;
}

label {
    font-size: smaller;
}



form div {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 5px;

}

legend {
    width: 100%;
    font-size: x-large;
    font-weight: 600;
}

.error {
    color: #af4242;
    background-color: #ecb8c2;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    /*visibility: hidden;*/
    display: none;
}

.display-error {
    display: block;
}

button {
    font-size: medium;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
}

button:hover {
    background-color: #77925f;
}

.success {
    margin-bottom: 30px;
    color: green;
    background-color: #d2ffd2;
    padding: 10px;
    display: none;
    text-align: center;
}

hr {
    margin-left: -9%;
    margin-right: -37%;
    box-shadow: 1px darkgray;
    color: white;
}

section>p {
    font-size: small;
    font-weight: 600;
}

section>p>a {
    color: #596D48;
    text-decoration: none;
}